<div class="card">
  <div class="card-header d-flex justify-content-between">
    <h6 class="m-0">Datos de la Venta</h6>
  </div>
  <hr class="m-0">
  <div class="card-body">
    <form action="" class="row">
      <!-- Numeración -->
      <div class="col-12 mb-3">
        <label for="documento" class="form-label">Fecha</label>
        <input type="text" class="form-control" id="fecha_">
      </div>
      <!-- Tipo Comprobante -->
      <div class="col-12 mb-3">
        <label for="tipo_comprobante" class="form-label">Tipo Comprobante <span class="text-danger">*</span></label>
        <select id="tipo_comprobante" class="form-select">
          <option>
          </option>
        </select>
      </div>
      <!-- Serie -->
      <div class="col-12 col-md-6 mb-3">
        <label for="serie" class="form-label">Serie <span class="text-danger">*</span></label>
        <select id="serie" class="form-select">
          <option>
          </option>
        </select>
      </div>
      <!-- Numeración -->
      <div class="col-12 col-md-6 mb-3">
        <label for="numeracion" class="form-label">Numero</label>
        <input type="text" class="form-control" id="numeracion" value="1" disabled>
      </div>
      <!-- Tipo Documento -->
      <div class="col-12 mb-3">
        <label for="tipo_documento" class="form-label">Tipo Documento <span class="text-danger">*</span></label>
        <select id="tipo_documento" class="form-select">
          <option>
          </option>
        </select>
      </div>
      <!-- Documento -->
      <div class="col-12 mb-3">
        <label for="documento" class="form-label">Nro. Documento <span class="text-danger">*</span></label>
        <input type="text" class="form-control" id="documento">
      </div>
      <!-- Numeración -->
      <div class="col-12 mb-3">
        <label for="observacion" class="form-label">Observación</label>
        <textarea class="form-control" id="observacion" rows="3"></textarea>
      </div>
    </form>
    <hr>
    <div class="w-100">

      <div class="d-flex justify-content-between mb-2">
        <span>SubTotal:</span>
        <span>30 S/</span>
      </div>
      <div class="d-flex justify-content-between mb-2">
        <span>IGV(18%):</span>
        <span>3.52 S/</span>
      </div>
      <div class="d-flex justify-content-between mb-2">
        <span>Total Pagar:</span>
        <span>3.52 S/</span>
      </div>

    </div>
    <hr>
    <div class="w-100">
      <button class="btn btn-primary w-100">Continuar Venta</button>
    </div>
  </div>
</div>
